
body {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
    background-attachment:scroll;
  }
  li a {
    display: block;
    color:red;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 150%;
  }
  li a:hover {
    background-color:black;
  }
  h1 {
    color:mediumvioletred;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  h2 {
    color:red;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  .para {
    font-size: 135%;
    margin-left: 128px;
  }
  h3,p {
    margin-left: 100px;
  }
  h4{
    font-size:150%; 
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 5%;
    
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .port img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    border-radius: 30px;
  }
  .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:230px;
    height:300px;
    border-radius: 120px;
  }